repos:

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.4.0
      hooks:
          - id: check-json
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: https://github.com/mgedmin/check-manifest
      rev: "0.44"
      hooks:
          - id: check-manifest

    - repo: https://github.com/psf/black
      rev: 20.8b1
      hooks:
          - id: black

    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.4
      hooks:
          - id: flake8
            args: [--count, --show-source, --statistics]
            additional_dependencies: [flake8-bugbear==21.3.1]

    - repo: https://github.com/asottile/setup-cfg-fmt
      rev: v1.16.0
      hooks:
          - id: setup-cfg-fmt

    - repo: https://github.com/pycqa/isort
      rev: 5.9.3
      hooks:
          - id: isort
            args: ["--profile", "black", "--filter-files"]
