---
ci:
    autoupdate_schedule: quarterly

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: check-json
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    #  Currently disabled due to issues with installation pre-commit.ci:
    #- repo: https://github.com/mgedmin/check-manifest
    #  rev: '0.47'
    #  hooks:
    #      - id: check-manifest

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.2
      hooks:
          - id: yamlfmt

    - repo: https://github.com/psf/black
      rev: 22.12.0
      hooks:
          - id: black
            language_version: python3 # Should be a command that runs python3.6+

    - repo: https://github.com/PyCQA/flake8
      rev: 6.0.0
      hooks:
          - id: flake8
            args: [--count, --show-source, --statistics]

    - repo: https://github.com/pycqa/isort
      rev: 5.12.0
      hooks:
          - id: isort
            args: [--profile, black, --filter-files]

    - repo: https://github.com/sirosen/check-jsonschema
      rev: 0.19.2
      hooks:
          - id: check-github-workflows

    - repo: https://github.com/asottile/pyupgrade
      rev: v3.3.1
      hooks:
          - id: pyupgrade
            args: [--py38-plus]

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.991
      hooks:
          - id: mypy
            args: [--config-file=setup.cfg]
            additional_dependencies:
                - types-cachetools
                - types-requests
                - types-cachetools
                - types-toml
            exclude: >-
                (?x)^(
                  docs/.*|
                  tests/.*|
                )$
