language: python
python:
- "2.7"

cache: pip

before_install:
# Upgrade pip setuptools and wheel
- pip install -U pip wheel setuptools

install:
- pip install -e .
- reentry scan -r aiida

script:
- python -c "import aiida"
