exclude docs
recursive-exclude docs *
exclude tests
recursive-exclude tests *
exclude miscellaneous
recursive-exclude miscellaneous *

exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude tox.ini
exclude .flake8

include .gitmodules
include LICENSE
include CHANGELOG.md
recursive-include aiidalab *.css
recursive-include aiidalab *.html
recursive-include aiidalab *.json
recursive-include aiidalab *.png
recursive-include aiidalab *.svg
recursive-include aiidalab *.yaml
recursive-include jupyter-config *.json
