[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
#aiida-ase = "~=1.0.1"
#aiida-castep = "~=1.0"
#aiida-crystal17 = "~=0.10.0b5"
#aiida-gudhi = "==0.1.0a3"
#aiida-lammps = "~=0.4.0b3"
#aiida-nwchem = "~=1.0.2"
#aiida-phtools = "==0.1.0a1"

[packages]
aiida-bigdft = "~=0.2"
aiida-codtools = "~=2.0"
aiida-cp2k = "~=1.1"
aiida-ddec = "~=1.0.0a1"
aiida-diff = "~=1.1"
aiida-fleur = "~=1.1"
aiida-lsmo = "~=1.0.0b2"
aiida-nanotech-empa = "~=0.1.0a1"
aiida-optimize = "~=0.3"
aiida-qeq = "~=1.0.0a1"
aiida-quantumespresso = "~=3.0"
aiida-raspa = "~=1.1"
aiida-siesta = "~=1.0"
aiida-tbmodels = "~=0.2"
aiida-vasp = "~=0.2.4"
aiida-wannier90 = "~=2.0"
aiida-yambo = "~=1.0"
aiida-zeopp = "~=1.1"
cookiecutter = "~=1.6.0"
dulwich = "~=0.19.15"
Markdown = "~=3.1.1"
pip = "~=20.0"
requests-cache = "~=0.5.2"
watchdog = "~=0.10.2"

[requires]
python_version = "3.7"

#[pipenv]
# Note: For some reason, the atomic_tools extra breaks locking with
# allow_prereleases = True. You can still use prereleases by providing an exact
# version.
#allow_prereleases = true

[pipenv]
allow_prereleases = true
