[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aiida-core = {extras = ['rest', 'atomic_tools'],version = "~=1.0.0b6"}
aiida-cp2k = "~=1.0.0a2"
aiida-qeq = "~=1.0.0a1"
aiida-quantumespresso = "~=3.0.0a3"
aiida-zeopp = "~=1.0.0b1"

[packages]
#aiida-ase = "~=1.0.1"
#aiida-codtools = "~=1.0.1"
#aiida-fleur = "~=0.6.3"
#aiida-gudhi = "==0.1.0a3"
#aiida-nwchem = "~=1.0.2"
#aiida-phtools = "==0.1.0a1"
#aiida-raspa = "~=0.3.1"
#aiida-siesta = "~=0.9.10"
#aiida-vasp = "~=0.2.4"
#aiida-wannier90 = "~=1.0.0"
#aiida-yambo = "~=0.2.5"
aiidalab-widgets-base = "~=1.0.0a4"
appmode-aiidalab = "~=0.5.0.1"
arrow = "~=0.14.6"
binaryornot = "~=0.4.4"
bokeh = "~=1.0.4"
bqplot = "~=0.11.7"
cookiecutter = "~=1.6.0"
dulwich = "~=0.19.13"
lxml = "~=4.4.1"
notebook = "~=5.7.0"
packaging = "~=19.1"
pip = "~=18.1"
pythreejs = "~=2.0.2"
requests-cache = "~=0.4.13"
Markdown = "~=3.0.1"

[requires]
python_version = "3.7"
#[pipenv]
# Note: For some reason, the atomic_tools extra breaks locking with
# allow_prereleases = True. You can still use prereleases by providing an exact
# version.
#allow_prereleases = true

[pipenv]
allow_prereleases = true
