-i https://pypi.org/simple
aiida-ase==1.0.1
aiida-codtools==1.0.1
aiida-core[atomic_tools,docs,jupyter,rest]==0.12.3
aiida-cp2k==0.10
aiida-fleur==0.6.3
aiida-gudhi==0.1.0a3
aiida-nwchem==1.0.2
aiida-phtools==0.1.0a1
aiida-quantumespresso==2.1.0
aiida-raspa==0.3.1
aiida-siesta==0.9.10
aiida-vasp==0.2.4
aiida-wannier90==1.0.0
aiida-yambo==0.2.5
aiida-zeopp==0.2.0
aiida==0.12.3
aiidalab-widgets-base==0.4.0b2
alabaster==0.7.12
aldjemy==0.8.0
alembic==0.9.9
amqp==1.4.9
aniso8601==6.0.0
anyjson==0.3.3
appmode-aiidalab==0.5.0.1
appnope==0.1.0 ; sys_platform == 'darwin'
arrow==0.13.1
ase==3.12.0
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
babel==2.6.0
backports.functools-lru-cache==1.5 ; python_version == '2.7'
backports.shutil-get-terminal-size==1.0.0 ; python_version == '2.7'
bcrypt==3.1.6
billiard==3.3.0.23
binaryornot==0.4.4
bleach==3.1.0
bokeh==1.0.4
bqplot==0.11.5
bump2version==0.5.10
celery==3.1.25
certifi==2019.3.9
cffi==1.12.3
chainmap==1.0.3 ; python_version < '3'
chardet==3.0.4
click-plugins==1.0.3
click-spinner==0.1.7
click==6.7
configparser==3.7.4 ; python_version == '2.7'
cookiecutter==1.6.0
coverage==4.5.3
cryptography==2.6.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
django-extensions==1.5.0
django==1.7.11
docutils==0.14
dulwich==0.19.11
ecdsa==0.13
entrypoints==0.3
enum34==1.1.6 ; python_version == '2.7'
ete3==3.1.1
fileupload==0.1.5
flask-cache==0.13.1
flask-cors==3.0.4
flask-httpauth==3.2.3
flask-marshmallow==0.9.0
flask-restful==0.3.6
flask-sqlalchemy==2.3.2
flask==1.0.2
frozendict==1.2
funcsigs==1.0.2 ; python_version < '3.0'
functools32==3.2.3.post2 ; python_version < '3'
future==0.16.0
futures==3.2.0 ; python_version < '3.2'
h5py==2.9.0
html5lib==1.0.1
idna==2.8
imagesize==1.1.0
ipaddress==1.0.22 ; python_version == '2.7'
ipydatawidgets==4.0.0
ipykernel==4.10.0
ipympl==0.2.1
ipython-genutils==0.2.0
ipython==5.8.0
ipywidgets==7.4.2
itsdangerous==0.24
jinja2-time==0.2.0
jinja2==2.10
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.1.0
kombu==3.0.37
lxml==4.3.3
mako==1.0.9
markdown==3.0.1
markupsafe==1.1.1
marshmallow-sqlalchemy==0.13.2
marshmallow==2.19.2
masci-tools==0.3.2
matplotlib==2.2.4
meld3==1.0.2
mistune==0.8.4
monty==2.0.4
more-itertools==5.0.0 ; python_version <= '2.7'
mpmath==1.1.0
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
nglview==1.1.9
nose==1.3.7
notebook==5.7.8
numpy==1.15.4
packaging==19.0
palettable==3.1.1
pandas==0.24.2
pandocfilters==1.4.2
paramiko==2.4.2
parsevasp==0.2.22
passlib==1.7.1
pathlib2==2.3.0 ; python_version == '2.7' or python_version == '3.3'
pattern==2.6
pbr==5.1.3
pexpect==4.7.0 ; sys_platform != 'win32'
pg8000==1.12.5
pgtest==1.2.0
pickleshare==0.7.5
pillow==6.0.0
pluggy==0.9.0
plumpy==0.7.12
portalocker==1.1.0
poyo==0.4.2
prometheus-client==0.6.0
prompt-toolkit==1.0.16
psutil==5.4.5
psycopg2-binary==2.7.4
ptyprocess==0.6.0 ; os_name != 'nt'
py==1.8.0
pyasn1==0.4.5
pycifrw==4.2.1
pycparser==2.19
pydispatcher==2.0.5
pygments==2.3.1
pymatgen==2018.12.12
pymysql==0.8.0
pynacl==1.3.0
pyparsing==2.2.0
pyrsistent==0.14.11
pytest-cov==2.6.1
pytest-mpl==0.10
pytest==4.4.1
python-dateutil==2.7.2
python-editor==1.0.4
python-memcached==1.59
python-mimeparse==1.6.0
pythreejs==2.0.2
pytz==2018.4
pyyaml==3.12
pyzmq==18.0.1
qe-tools==1.1.0
reentry==1.2.2
requests-cache==0.4.13
requests==2.21.0
ruamel.ordereddict==0.4.13 ; platform_python_implementation == 'CPython' and python_version <= '2.7'
ruamel.yaml==0.15.94
scandir==1.10.0 ; python_version < '3.5'
scipy==1.2.1
seekpath==1.8.1
send2trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3 ; python_version < '3'
six==1.11.0
snowballstemmer==1.2.1
spglib==1.10.3.65
sphinx-rtd-theme==0.4.3
sphinx==1.8.4
sphinxcontrib-contentui==0.2.2
sphinxcontrib-websupport==1.1.0
sqlalchemy-migrate==0.11.0
sqlalchemy-utils==0.33.0
sqlalchemy==1.0.19
sqlparse==0.3.0
subprocess32==3.5.3
sympy==1.4
tabulate==0.8.2
tempita==0.5.2
terminado==0.8.2
testpath==0.4.2
tornado==4.5.3
traitlets==4.3.2
traittypes==0.2.1
typing==3.6.6 ; python_version < '3.5'
tzlocal==1.5.1
ujson==1.35
uritools==2.1.0
urllib3==1.24.2
validate-email==1.3
voluptuous==0.11.1
wcwidth==0.1.7
webencodings==0.5.1
werkzeug==0.15.2
whichcraft==0.5.2
widgetsnbextension==3.4.2
