aiida==0.12.1
aiida-ase==1.0.1
aiida-codtools==1.0.1
aiida-core[rest,atomic_tools]==0.12.1
aiida-cp2k==0.9
aiida-nwchem==1.0.2
aiida-raspa==0.2.2
aiida-zeopp==0.1.1
aiida-quantumespresso==2.0.1
aiida-vasp==0.2.2
aiidalab-widgets-base==0.2.0a2
aiida-gudhi==0.1.0a3
aiida-phtools==0.1.0a1
aiida-yambo==0.2.5
aiida-fleur==0.6.2
aiida-siesta==0.9.10
aiida-wannier90==1.0.0
aldjemy==0.6.0
alembic==0.9.6
amqp==1.4.9
anyjson==0.3.3
appmode-aiidalab==0.4.0.1
ase==3.15.0
asn1crypto==0.24.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
bleach==2.1.1
bokeh==0.12.15
bqplot==0.10.1
celery==3.1.25
cffi==1.11.5
chardet==3.0.4
click==6.7
click-plugins
click-spinner
configparser==3.5.0
cryptography==2.3
cycler==0.10.0
decorator==4.3.0
Django==1.7.11
django-extensions==1.5.0
ecdsa==0.13
entrypoints==0.2.3
enum34==1.1.6
ete3==3.0.0b35
fileupload==0.1.5
Flask==0.12.3
frozendict==1.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
html5lib==1.0b10
idna==2.7
ipaddress==1.0.22
ipykernel==4.8.2
ipympl==0.1.0
ipython<6.0
ipython-genutils==0.2.0
ipywidgets==7.0.5
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
kombu==3.0.37
lxml==4.1.1
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.0
meld3==1.0.0
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
nglview==1.0
notebook==5.5.0
numpy==1.14.3
pandas==0.22.0
pandocfilters==1.4.2
paramiko==2.4.2
passlib==1.7.1
pathlib2==2.3.0
pexpect==4.6.0
pickleshare==0.7.4
pip==10.0.1
plumpy==0.7.12
portalocker==1.1.0
prompt-toolkit==1.0.15
psutil==5.4.0
psycopg2-binary==2.7.4
pyasn1==0.4.3
pycifrw==4.4
pycparser==2.18
Pygments==2.2.0
pymysql==0.8.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-editor==1.0.3
python-mimeparse==0.1.4
pythreejs==0.4.1
pytz==2017.3
PyYAML==3.12
reentry==1.2.1
requests==2.19.1
scandir==1.7
scipy==1.0.0
seekpath==1.8.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
spglib==1.10.1.4
SQLAlchemy==1.0.19
SQLAlchemy-Utils==0.33.0
subprocess32==3.2.7
supervisor==3.1.3
tabulate==0.7.5
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
traittypes==0.0.6
tzlocal==1.3
ujson==1.35
uritools==1.0.2
urllib3==1.22
validate-email==1.3
voluptuous==0.8.11
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
