<div>
  <p>
    AiiDAlab Materials Cloud Deployment Privacy Policy (Personal Data
    Protection) v{{ version }}, {{ year }}
  </p>

  <h3>Scope and Definitions</h3>
  <p>
    This Privacy Policy shall apply to the personal data of the Users collected
    by AiiDAlab in connection with AiiDAlab Services and to any personal data
    posted or processed by the Users of AiiDAlab.
  </p>

  <p>
    Words in this Privacy Policy shall have the same meaning as defined in
    Article 2. &ldquo;Definitions&rdquo; of the AiiDAlab Terms of Use.
  </p>
  <p></p>

  <h3>Data Controllers</h3>
  <p>
    For the personal data of the Users, which are collected by AiiDAlab for the
    User's account and the operation of the Services by AiiDAlab:
    <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
    on behalf of {{ institution.name.full }}, {{ institution.address }}.
  </p>

  <p>
    For any other personal data in particular any personal data posted and/or
    processed by the Users on AiiDAlab Web site, the respective User shall be
    the data controller. If you post, collect or otherwise process any personal
    data on the Website, you shall be solely responsible for the processing of
    such data in compliance with all applicable legal requirements.
  </p>

  <h3>Types and Use of Data collected</h3>
  <p>
    AiiDAlab collects personal data such as your name, e-mail address and other
    information you give when creating an account on AiiDAlab website. For
    operation and maintenance purposes, AiiDAlab may collect files that record
    interaction with AiiDAlab website (System Logs) or use for this purpose
    other personal data such as your IP Address.
  </p>
  <p>
    AiiDAlab only uses your personal data for the operation of AiiDAlab website
    and services as well as to improve AiiDAlab website and services. Other
    personal data may be collected on AiiDAlab website along dedicated
    explanation text contextually with any such data collection.
  </p>
  <p>
    AiiDAlab may use your contact data to send you information about AiiDAlab
    services.
  </p>

  <h3>Mode and place of processing the personal data</h3>
  <h4>Methods of processing</h4>
  <p>
    AiiDAlab processes the User's personal data in a proper manner and shall
    take appropriate security measures to prevent unauthorized access,
    disclosure, modification, or unauthorized destruction of the data.
  </p>

  <h4>Place</h4>
  <p>
    AiiDAlab computing infrastructure is hosted at the {{ host.name }} in
    {{ host.location }}; hence, your personal data processed by AiiDAlab is
    stored at said place. If you access to the Services from outside of the
    Switzerland, you understand that your data is then transferred abroad. For
    further information, please contact the data Controller as indicated above.
  </p>

  <h4>Retention time</h4>
  <p>
    The personal data processed by AiiDAlab is kept as long as you or AiiDAlab
    has not cancelled your account though AiiDAlab may keep the data after
    cancellation of your account as long as necessary for technical reasons
    (like backups) or to comply with legal requirements.
  </p>

  <h4>The rights of users</h4>
  <p>
    Users have the right, at any time, to know whether their personal data has
    been stored and can consult the data Controller to learn about their
    contents and origin, to verify their accuracy or to ask for them to be
    supplemented, cancelled, updated or corrected, or to block any data held in
    violation of the law, as well as to oppose their treatment for any and all
    legitimate reasons. Requests should be sent to the data Controller as set
    out above.
  </p>

  <h4>Information not contained in this policy</h4>
  <p>
    More details concerning the collection or processing of your personal data
    by AiiDAlab may be requested from the data Controller at any time. Please
    see the contact information at the beginning of this document.
  </p>

  <h4>Changes to this privacy policy</h4>
  <p>
    AiiDAlab reserves the right to make changes to this privacy policy at any
    time by giving notice to the users or organizers on this page. It is
    strongly recommended to check this page often. If a user or organizer
    disagrees to any of the changes to the Policy, she/he must cease using
    AiiDAlab website and services and can request that the data Controller
    removes her/his personal data. Such a removal will result in a termination
    of your account.
  </p>

  <h4>Users' Warranty and Indemnification</h4>
  <p>
    You warrant that if you post on the Website or collect, handle, store,
    transfer or otherwise process any personal data in connection with the
    Services, you will do so in compliance with all applicable laws and
    regulations. You agree to indemnify and hold PSI, its partners and any
    sub-contractors, harmless from and against any and all claims, liabilities,
    and expenses, including attorneys' fees, arising out of your posting of any
    personal data on the Website or your processing of any personal data in
    connection with the Services.
  </p>

  <h4>Governing Law &mdash; Place of Jurisdiction</h4>
  <p>
    This Privacy Policy and any claims raised in connection therewith are
    governed by Swiss law, without regard to conflict of law provisions. You
    agree to submit to the exclusive jurisdiction of the cantonal court of
    {{ court }}.
  </p>
</div>
