---
name: CI

on: [push, pull_request]

jobs:

    pre-commit:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.9
              uses: actions/setup-python@v2
              with:
                  python-version: 3.9
            - uses: pre-commit/action@v2.0.0

    test-package:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:

            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - uses: actions/setup-python@v2
              with:
                  python-version: 3.9

            - name: Install package
              run: |
                  pip install -e .[dev]
                  pip freeze

            - name: Run tests
              run: pytest -vs
